<div class="home_top">
    <div class="wrap">  
        <div class="outline">
            <h1><%= link_to "/" do %>
                <%= image_tag "logo.png",:width =>"220" %>
<<<<<<< HEAD
            <% end %></h1>
=======
                <% end %>
            </h1>
            </div>
            <hr>
            <ul>
<<<<<<< HEAD
                <li><%= link_to("Sign up","/account/new") %></li>
=======
                <li><%= link_to("Sing Up","/account/new") %></li>
>>>>>>> e80424284d32ac54499f910cd9ea550273542554
                <li><%= link_to("Log in","/account/login_form") %></li>
            </ul>
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
        </div>
        <hr>
        <ul>
            <li><%= link_to("Sign up","/account/new") %></li>
            <li><%= link_to("Log in","/account/login_form") %></li>
        </ul>
    </div>
</div>