<br class="header_bottom">
<<<<<<< HEAD
=======
<<<<<<< HEAD
    <div class="posts_edit">
        <p class="edit_comment">Edit comment?</p>
        <%= form_tag("/posts/#{@post.id}/update") do %>
            <div class="errors">    
                <% @post.errors.full_messages.each do |message| %>
                    <%= message %>
                <% end %>
            </div>
            <textarea name="content"><%= @post.content %></textarea>
            <input class="submit_btn" type="submit" value="save">
        <% end %>
    </div>
=======
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
<div class="posts_edit">
<p class="edit_comment">Edit comment?</p>
    <%= form_tag("/posts/#{@post.id}/update") do %>
        <div class="errors">    
            <% @post.errors.full_messages.each do |message| %>
                <%= message %> 
            <% end %>
        </div>
        <textarea name="content"><%= @post.content %></textarea>
        <input class="submit_btn" type="submit" value="save">
    <% end %>
</div>
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
