<div class="account_edit">
    <div class="errors">
        <% @users.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    </div>
    <%= form_tag("/account/#{@current_user.id}/edit",{multipart: true}) do %>
        <p class="profile_column"">name</p>
        <p><input name = "name" value = "<%= @user.name %>"></p>
        <p class="profile_column">image</p> 
        <p><input name = "image" type="file"></p>
        <p class="profile_column">Email</p>
        <p><input name = "email" value = "<%= @user.email %>"></p>
        <p><input name = "password" type = "password" value = "<%= @user.password %>"></p>
        <div class="btns">
            <p><%= link_to("back","/account/#{@user.id}/show",class:"back_btn") %></p>
            <p><input class="edit_btn" type="submit" value="Edit" %></p>
        </div> 
    <% end %>
</div>