<br class="header_bottom">
<div class="account_edit">
    <div class="errors">
        <% @users.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    </div>
    <div class="inner">
<<<<<<< HEAD
=======
<<<<<<< HEAD
        <%= form_tag("/account/#{@current_user.id}/edit",{multipart: true}) do %>
            <p class="profile_column">name</p>
            <p><input name = "name" value = "<%= @user.name %>"></p>
            <p class="profile_column">image</p> 
            <p><input class= "input_image" name = "image" type="file"></p>
            <p class="profile_column">Email</p>
            <p><input name = "email" value = "<%= @user.email %>"></p>
            <p><input name = "password" type = "password" value = "<%= @user.password %>"></p>
            <div class="btns">
                <p><%= link_to("back","/account/#{@user.id}/show",class:"back_btn") %></p>
                <p><input class="edit_btn" type="submit" value="Edit" %></p>
        <% end %>
    </div> 
=======
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
    <%= form_tag("/account/#{@current_user.id}/edit",{multipart: true}) do %>
        <p class="profile_column">name</p>
        <p><input name = "name" value = "<%= @user.name %>"></p>
        <p class="profile_column">image</p> 
        <p><input class= "input_image" name = "image" type="file"></p>
        <p class="profile_column">Email</p>
        <p><input name = "email" value = "<%= @user.email %>"></p>
        <p><input name = "password" type = "password" value = "<%= @user.password %>"></p>
        <div class="btns">
            <p><%= link_to("back","/account/#{@user.id}/show",class:"back_btn") %></p>
            <p><input class="edit_btn" type="submit" value="Edit" %></p>
    <% end %>
    </div> 
    </div>
<<<<<<< HEAD
=======
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
</div>