<div class="login_form">
    <div class="errors">
        <% if @error_message %>
            <%= @error_message %>
        <% end %>
    </div>
    <div class="inner">
        <%= form_tag("/account/login", {method: :post}) do %> 
            <P class="profile_column">e-mail</p>
            <p><input name="email" type="email" value="<%= @email %>"></p>
            <p class="profile_column">password</p>
            <p><input name="password" type="password" value="<%= @password %>"></p>
            <div class="btns">
                <p><%= link_to("Back","/",class:"back_btn") %></p>
                <p><input class="login_btn" type="submit" value="Login"></p>
            </div>
        <% end %>
    </div>
</div>