<div class="account_new">
    <div class="errors">
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    </div>
    <div class="inner">
        <%= form_tag("/account/create",{method: :post}) do %>
            <p class="profile_column">name</p>
            <p><input name="name" value= "<%= @user.name %>"></p>
            <p class="profile_column">Email</p>
            <p><input name="email" value= "<%= @user.email %>"></p>
            <p class="profile_column">password</p>
            <p><input name="password" type="password" value="<%= @user.password %>"></p>
            <div class="btns">
                <p><%= link_to("Back","/",class:"back_btn") %></p>
                <p><input class="register_btn" type="submit" value="Register"></p>
            </div>
        <% end %>
    </div>
</div>