<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
  </head>

  <body>
    <% if session[:user_id] %>
      <header>
        <div class="inner">
          <h1><%= link_to "/posts/index" do %>
            <%= image_tag "logo.png",:width => "100" %>
          <% end %>
          </h1>
          <ul>
            <li><%= link_to("Top","/posts/index") %></li>
            <li><%= link_to("Logout","/account/logout",{method: :post}) %></li>
            <li class="id">
              <img src="<%= "/user_images/#{@current_user.image_name}" %>" width="50" height="50">
              <%= link_to(@current_user.name,"/account/#{@current_user.id}/show",class:"user_name") %>
            </li>
          </ul>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash">
          <div class="inner">
            <%= flash[:notice] %>
          </div>
        </div>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>©2018 Toss</p>
    </footer>
  </body>
</html>
